@model PainKillerWeb.Models.Main.Personaje

@{
    ViewData["Title"] = "Details";
}

<h1>Details</h1>

<div>
    <h4 style="display:inline">Personaje</h4>
    <a asp-action="Edit" asp-route-id="@Model.id" style="position: relative; left: 900px" >Editar Personaje</a>
    <hr />
    <dl class="row">
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.nombre)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.nombre)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.raza)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.raza.nombre)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.expActual)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.expActual)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.expGastada)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.expGastada)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.vidaMax)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.vidaMax)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.manaMax)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.manaMax)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.energiaMax)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.energiaMax)
        </dd>
    </dl>
</div>
<div>
    <h4 style="display:inline">Atributos</h4>
    <a asp-controller="AtributosDePersonajes" asp-action="EditAll" asp-route-id="@Model.id" style="position: relative; left: 800px">Editar Atributos De Personaje</a>
    <hr />
    <dl class="row">
        @foreach (var item in Model.atributos)
        {
            if (item.atributoId == Model.raza.idAtributoRelevante || item.atributoId == Model.raza.idAtributoRelevante2)
            {
                <dt class="col-sm-2" style="color:#14C12C">
                    @item.atributo.nombre
                </dt>
            }
            else if (item.atributoId == Model.raza.idAtributoPesimo)
            {
                <dt class="col-sm-2" style="color: #BE1E1E">
                    @item.atributo.nombre
                </dt>
            }
            else
            {
                <dt class="col-sm-2">
                    @item.atributo.nombre
                </dt>
            }

            <dd class="col-sm-10">
                @item.nivel
            </dd>

        }
    </dl>
</div>
<div>
    <div>
        <a asp-action="Index">Back to List</a>
    </div>
