@model PainKillerWeb.Models.Main.Personaje

@{
    Layout = "~/Views/Shared/_Layout2.cshtml";
    ViewData["Title"] = "Detalles";
}

<div class="row">
    <div class="row col-6">
        <div class="col-4 d-flex justify-content-start align-content-center">
            <h2 class="goingMedievalG">
                @Html.DisplayFor(model => model.nombre)
            </h2>
        </div>
        <div class="col-5"> </div>
        <div class="col-3 d-flex justify-content-end ">
            <a asp-action="Edit" asp-route-id="@Model.id" class="btn btn-outline-dark">Editar Personaje</a>
        </div>
    </div>

    <div class="row col-6">
        <div class="col-4 d-flex justify-content-start align-content-center">
            <h3 class="goingMedievalG">Atributos</h3>
        </div>
        <div class="col-5"> </div>
        <div class="col-3 d-flex justify-content-end">
            <a asp-controller="AtributosDePersonajes" asp-action="EditAll" asp-route-id="@Model.id" class="btn btn-outline-dark botonDetalles disabled">Editar Atributos</a>
        </div>
    </div>
</div>
<hr />

<div class="row">
    <dl class="row col-6">
        <dt class="col-sm-4">
            @Html.DisplayNameFor(model => model.raza)
        </dt>
        <dd class="col-sm-8">
            @Html.DisplayFor(model => model.raza.nombre)
        </dd>
        <dt class="col-sm-4">
            @Html.DisplayNameFor(model => model.expActual)
        </dt>
        <dd class="col-sm-8">
            @Html.DisplayFor(model => model.expActual)
        </dd>
        <dt class="col-sm-4">
            @Html.DisplayNameFor(model => model.expGastada)
        </dt>
        <dd class="col-sm-8">
            @Html.DisplayFor(model => model.expGastada)
        </dd>
        <dt class="col-sm-4 text-danger">
            Vida
        </dt>
        <dd class="col-sm-8">
            @Html.DisplayFor(model => model.vidaAct) | @Html.DisplayFor(model => model.vidaMax)
        </dd>
        <dt class="col-sm-4 text-primary" >
            MANA
        </dt>
        <dd class="col-sm-8">
            @Html.DisplayFor(model => model.manaAct) | @Html.DisplayFor(model => model.manaMax)
        </dd>
        <dt class="col-sm-4 text-success" >
            ENERGIA
         </dt>
        <dd class="col-sm-8">
            @Html.DisplayFor(model => model.energiaAct) | @Html.DisplayFor(model => model.energiaMax)
        </dd>
    </dl>

    <dl class="row col-6">
        <dt class="col-sm-3 ">
            <h5 class="goingMedievalG">Nombre</h5>
        </dt>
        <dt class="col-sm-2 d-flex justify-content-center">
            <h5 class="goingMedievalG">Nivel</h5>
        </dt>
        <dt class="col-sm-4"></dt>
        <dt class="col-sm-3">
        </dt>
        @foreach (var item in Model.atributos)
        {
            if (item.atributoId == Model.raza.idAtributoRelevante || item.atributoId == Model.raza.idAtributoRelevante2)
            {
                <dt class="col-sm-3 text-success">
                    @item.atributo.nombre
                </dt>
            }
            else if (item.atributoId == Model.raza.idAtributoPesimo)
            {
                <dt class="col-sm-3 text-danger">
                    @item.atributo.nombre
                </dt>
            }
            else
            {
                <dt class="col-sm-3">
                    @item.atributo.nombre
                </dt>
            }

            <dd class="col-sm-2 d-flex justify-content-center">
                @item.nivel
            </dd>
            <dd class="col-sm-4"></dd>
            <dd class="col-sm-3 btn-group d-flex justify-content-end" role="group" aria-label="Button group with nested dropdown">
                <a asp-controller="AtributosDePersonajes" asp-action="LevelUp" asp-route-id="@item.id" class="btn btn-outline-success" style="margin-right:6px">
                    Subir Nivel
                </a>
            </dd>


        }
    </dl>

</div>

<br>

<div>
    <div class="row">
        <div class="col-4 d-flex justify-content-start align-bottom">
            <h3 class="goingMedievalG">Habilidades</h3>
        </div>
        <div class="col-5"> </div>
        <div class="col-3 d-flex justify-content-center">
            <a asp-controller="HabilidadesDePersonajes" asp-action="CreateFor" asp-route-id="@Model.id" class="btn btn-outline-dark botonDetalles">Agregar Habilidad</a>
        </div>
    </div>
    <hr />
    <dl class="row">
        <dt class="col-sm-2">
            <h5 class="goingMedievalG">Nombre</h5>
        </dt>
        <dt class="col-sm-1 d-flex justify-content-center">
            <h5 class="goingMedievalG">Nivel</h5>
        </dt>
        <dd class="col-sm-1">
        </dd>
        <dt class="col-sm-1 d-flex justify-content-center">
            <h5 class="goingMedievalG">Atributo</h5>
        </dt>
        <dd class="col-sm-4">
        </dd>
        <dd class="col-sm-3 btn-group mt-1 d-flex justify-content-end" role="group" aria-label="Button group with nested dropdown">

        </dd>
        @foreach (var item in Model.habilidades)
        {
            <dt class="col-sm-2">
                @Html.DisplayFor(modelItem => item.Habilidad.nombre)
            </dt>


            <dd class="col-sm-1 d-flex justify-content-center">
                @Html.DisplayFor(modelItem => item.Nivel)
            </dd>

            <dd class="col-sm-1">
            </dd>
            <dd class="col-sm-1 d-flex justify-content-center">
                @item.Habilidad.atributo.nombre
            </dd>

            <dd class="col-sm-4">
            </dd>

            <dd class="col-sm-3 btn-group mt-1 d-flex justify-content-center" role="group" aria-label="Button group with nested dropdown">

                <div>
                    <a asp-controller="HabilidadesDePersonajes" asp-action="LevelUp" asp-route-id="@item.id" class="btn btn-outline-success" style="margin-right:6px">
                        Subir Nivel
                    </a>
                </div>

                <div class="btn-group" role="group" style="margin-left:6px">
                    <button type="button" class="btn btn-outline-dark dropdown-toggle" data-bs-toggle="dropdown" aria-expanded="false">
                        Opciones
                    </button>
                    <ul class="dropdown-menu">
                        <li>
                            <button type="button" class="dropdown-item" data-bs-toggle="modal" data-bs-target="#detalles-@item.id">
                                Detalles
                            </button>
                        </li>
                        <li><hr class="dropdown-divider"></li>
                        <li>
                            <button type="button" class="dropdown-item bg-danger" style="color: white" data-bs-toggle="modal" data-bs-target="#deleteHabilidadModal-@item.id">
                                Eliminar
                            </button>
                        </li>
                    </ul>


                    <div class="modal fade" id="detalles-@item.id" tabindex="-1" aria-labelledby="detalles-@item.id" aria-hidden="true">
                        <div class="modal-dialog">
                            <div class="modal-content">
                                <div class="modal-header">
                                    <h1 class="modal-title fs-5 goingMedievalG"> Detalles De La Habilidad "@item.Habilidad.nombre"</h1>
                                    <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                                </div>
                                <div class="modal-body">
                                    <h5>Descripcion: </h5>
                                    <p>@Html.DisplayFor(modelItem => item.Habilidad.descripcion)</p>
                                    <h5>tirada: </h5>
                                    (@item.Nivel+@item.Personaje.atributos.Where(x => x.atributoId == item.Habilidad.atributoId).FirstOrDefault().nivel) K @item.Personaje.atributos.Where(x => x.atributoId == item.Habilidad.atributoId).FirstOrDefault().nivel

                                </div>

                            </div>
                        </div>
                    </div>


                    <div class="modal fade" id="deleteHabilidadModal-@item.id" tabindex="-1" aria-labelledby="deleteHabilidadModal-@item.id" aria-hidden="true">
                        <div class="modal-dialog">
                            <div class="modal-content">
                                <div class="modal-header">
                                    <h1 class="modal-title fs-5 goingMedievalG"> Confirmar Eliminacion de Habilidad</h1>
                                </div>
                                <div class="modal-body">
                                    <p> estas seguro que deseas eliminar la Habilidad "@item.Habilidad.nombre" del personaje @Model.nombre</p>
                                    <p><strong> no habra vuelta atras </strong></p>
                                </div>
                                <div class="modal-footer">
                                    <form asp-controller="HabilidadesDePersonajes" asp-action="DeleteInModal" asp-route-id="@item.id">
                                        <input type="hidden" asp-for="@item.id" />
                                        <input type="submit" value="Delete" class="btn btn-danger" />
                                    </form>

                                </div>
                            </div>
                        </div>
                    </div>


                </div>
            </dd>


        }
    </dl>

</div>
<div>
    <a asp-action="Jugar" asp-route-id="@Model.id" class="btn btn-outline-dark mt-2 btn-sm">Ir A Jugar</a>
    <a asp-action="Index" class="btn btn-outline-danger mt-2 btn-sm">Regresar</a>
</div>
