@model IEnumerable<PainKillerWeb.Models.Main.Personaje>

@{
    ViewData["Title"] = "Index";
}

<div class="row">
    <div class="col-4 d-flex justify-content-start align-content-center">
        <h1 class="goingMedievalG">Lista de Personajes</h1>
    </div>
    <div class="col-6"> </div>
    <div class="col-2 d-flex justify-content-end">
        <a asp-action="Create" class="btn btn-outline-dark botonDetalles m-2">Crear Personaje</a>
    </div>
</div>
<hr />

<div class="accordion" id="accordionPanelsStayOpenExample">
    @foreach (var item in Model)
    {

        <div class="accordion-item">
            <h2 class="accordion-header" id="panelPj-@Html.DisplayFor(modelItem => item.id)">
                <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#panelPjOpen-@Html.DisplayFor(modelItem => item.id)" aria-expanded="false" aria-controls="panelPjOpen-@Html.DisplayFor(modelItem => item.id)">
                    @Html.DisplayFor(modelItem => item.nombre)
                </button>
            </h2>
            <div id="panelPjOpen-@Html.DisplayFor(modelItem => item.id)" class="accordion-collapse collapse" aria-labelledby="panelPj-@Html.DisplayFor(modelItem => item.id)">
                <div class="accordion-body row">
                    <div class="col-1"></div>
                    <div class="col-2 d-flex">
                        <strong>@Html.DisplayNameFor(model => model.raza)</strong>:  @Html.DisplayFor(modelItem => item.raza.nombre)
                    </div>
                    <div class="col-2 d-flex">
                        <strong>@Html.DisplayNameFor(model => model.expActual)</strong>:  @Html.DisplayFor(modelItem => item.expActual)
                    </div>
                    <div class="col-2 d-flex"></div>

                    <div class="col-2 d-flex justify-content-center">
                        <button type="button" class="btn btn-outline-primary" data-bs-toggle="modal" data-bs-target="#habilidadesModal-@Html.DisplayFor(modelItem => item.id)">
                            Habilidades
                        </button>

                        <div class="modal fade" id="habilidadesModal-@Html.DisplayFor(modelItem => item.id)" tabindex="-1" aria-labelledby="habilidadesLabel-@Html.DisplayFor(modelItem => item.id)" aria-hidden="true">
                            <div class="modal-dialog">
                                <div class="modal-content">
                                    <div class="modal-header">
                                        <h1 class="modal-title fs-5" id="habilidadesLabel-@Html.DisplayFor(modelItem => item.id)">Habilidades</h1>
                                        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                                    </div>
                                    <div class="modal-body">
                                        @foreach (var habilidad in item.habilidades)
                                        {
                                            <h6> @habilidad.Habilidad.nombre: @habilidad.Nivel</h6>

                                        }

                                    </div>
                                    <div class="modal-footer">
                                        <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div><div class="col-2 d-flex justify-content-center">
                        <div class="btn-group" role="group">
                            <button type="button" class="btn btn-outline-primary" aria-expanded="false">
                                <a asp-action="Jugar" asp-route-id="@item.id" class="dropdown-item">JUGAR</a>
                            </button>
                        </div>
                    </div>
                    <div class="col-1 d-flex justify-content-end">
                        <div class="btn-group" role="group">
                            <button type="button" class="btn btn-outline-dark dropdown-toggle" data-bs-toggle="dropdown" aria-expanded="false">
                                Opciones
                            </button>
                            <ul class="dropdown-menu">
                                <a asp-action="Details" asp-route-id="@item.id" class="dropdown-item">EDITAR</a>
                                <a asp-action="Delete" asp-route-id="@item.id" style="background-color: #DC3545; color: white" class="dropdown-item">ELIMINAR</a>
                            </ul>
                        </div>
                    </div>

                </div>
            </div>
        </div>
    }
</div>


