@model IEnumerable<PainKillerWeb.Models.Main.Personaje>

@{
    ViewData["Title"] = "Personajes";
}

<div class="row">
    <div class="col-4 d-flex justify-content-start align-content-center">
        <h1 class="fuenteMedieval800">Lista de Personajes</h1>
    </div>
    <div class="col-6"> </div>
    <div class="col-2 d-flex justify-content-end">
        <a asp-action="Create" class="btn btn-outline-dark botonDetalles m-2">Crear Personaje</a>
    </div>
</div>
<hr />

<div class="accordion" id="accordionPanelsStayOpenExample">
    @foreach (var item in Model)
    {

        <div class="accordion-item">
            <h2 class="accordion-header" id="panelPj-@Html.DisplayFor(modelItem => item.id)">
                <button class="accordion-button collapsed fuenteMedieval" id="tituloAcordionIndex" type="button" data-bs-toggle="collapse" data-bs-target="#panelPjOpen-@Html.DisplayFor(modelItem => item.id)" aria-expanded="false" aria-controls="panelPjOpen-@Html.DisplayFor(modelItem => item.id)">
                    @Html.DisplayFor(modelItem => item.nombre)
                </button>
            </h2>
            <div id="panelPjOpen-@Html.DisplayFor(modelItem => item.id)" class="accordion-collapse collapse" aria-labelledby="panelPj-@Html.DisplayFor(modelItem => item.id)">
                <div class="accordion-body row">

                    <div class="col-1"></div>

                    <div class="col-2 d-flex">
                        <strong class="fuenteMedieval">@Html.DisplayNameFor(model => model.raza)</strong>:  @Html.DisplayFor(modelItem => item.raza.nombre)
                    </div>

                    <div class="col-2 d-flex">
                        <strong class="fuenteMedieval">@Html.DisplayNameFor(model => model.expActual)</strong>:  @Html.DisplayFor(modelItem => item.expActual)
                    </div>

                    <div class="col-2 d-flex">
                        <strong class="fuenteMedieval">@Html.DisplayNameFor(model => model.expGastada)</strong>:  @Html.DisplayFor(modelItem => item.expGastada)
                    </div>

                    <div class="col-1 d-flex"></div>

                    <div class="col-4 d-flex d-flex justify-content-end">

                        <button type="button" class="btn btn-outline-success" style="margin-left: 6px; margin-right: 6px" aria-expanded="false">
                            <a asp-action="Jugar" asp-route-id="@item.id" class="dropdown-item">Jugar</a>
                        </button>



                        <button type="button" class="btn btn-outline-primary" style="margin-left: 6px; margin-right: 6px" data-bs-toggle="modal" data-bs-target="#habilidadesModal-@Html.DisplayFor(modelItem => item.id)">
                            Habilidades
                        </button>

                        <div class="modal fade" id="habilidadesModal-@Html.DisplayFor(modelItem => item.id)" tabindex="-1" aria-labelledby="habilidadesLabel-@Html.DisplayFor(modelItem => item.id)" aria-hidden="true">
                            <div class="modal-dialog">
                                <div class="modal-content">
                                    <div class="modal-header">
                                        <h1 class="modal-title fs-5 fuenteMedieval800" id="habilidadesLabel-@Html.DisplayFor(modelItem => item.id)">Habilidades</h1>
                                        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                                    </div>
                                    <div class="modal-body">
                                        @foreach (var habilidad in item.habilidades)
                                        {
                                            <h6> @habilidad.Habilidad.nombre: @habilidad.Nivel</h6>

                                        }

                                    </div>
                                    <div class="modal-footer">
                                        <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>
                                    </div>
                                </div>
                            </div>
                        </div>




                        <button type="button" class="btn btn-outline-primary" style="margin-left: 6px; margin-right: 6px" data-bs-toggle="modal" data-bs-target="#hechizosModal-@Html.DisplayFor(modelItem => item.id)">
                            Hechizos
                        </button>

                        <div class="modal fade" id="hechizosModal-@Html.DisplayFor(modelItem => item.id)" tabindex="-1" aria-labelledby="hechizosLabel-@Html.DisplayFor(modelItem => item.id)" aria-hidden="true">
                            <div class="modal-dialog">
                                <div class="modal-content">
                                    <div class="modal-header">
                                        <h1 class="modal-title fs-5 fuenteMedieval800" id="hechizosLabel-@Html.DisplayFor(modelItem => item.id)">Hechizos</h1>
                                        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                                    </div>
                                    <div class="modal-body">
                                        @foreach (var h in item.hechizos)
                                        {
                                            <h6> @h.Hechizo.nombre: @h.Hechizo.elemento</h6>
                                        }
                                    </div>
                                    <div class="modal-footer">
                                        <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>
                                    </div>
                                </div>
                            </div>
                        </div>

                        <button type="button" class="btn btn-outline-dark dropdown-toggle" style="margin-left: 6px; margin-right: 6px" data-bs-toggle="dropdown" aria-expanded="false">
                            Opciones
                        </button>
                        <ul class="dropdown-menu">
                            <li> <a asp-action="Details" asp-route-id="@item.id" class="dropdown-item">Detalles</a> </li>
                            <li><hr class="dropdown-divider"></li>
                            <li>
                                <button type="button" class="dropdown-item bg-danger" style="color: white" data-bs-toggle="modal" data-bs-target="#deleteModal-@Html.DisplayFor(modelItem => item.id)">
                                    Eliminar
                                </button>
                            </li>

                        </ul>



                        <div class="modal fade" id="deleteModal-@Html.DisplayFor(modelItem => item.id)" tabindex="-1" aria-labelledby="deleteModal-@Html.DisplayFor(modelItem => item.id)" aria-hidden="true">
                            <div class="modal-dialog">
                                <div class="modal-content">
                                    <div class="modal-header">
                                        <h1 class="modal-title fs-5 fuenteMedieval800"> Confirmar Eliminacion de Personaje</h1>
                                    </div>
                                    <div class="modal-body">
                                        <p> estas seguro que deseas eliminar al personaje "@item.nombre" </p>
                                        <p><strong> no habra vuelta atras </strong></p>
                                    </div>
                                    <div class="modal-footer">
                                        <form asp-controller="Personajes" asp-action="Delete" asp-route-id="@item.id">
                                            <input type="hidden" asp-for="@item.id" />
                                            <input type="submit" value="Delete" class="btn btn-danger" />
                                        </form>
                                    </div>
                                </div>
                            </div>
                        </div>

                    </div>
                </div>
            </div>
        </div>
    }
</div>


