@model IEnumerable<PainKillerWeb.Models.Main.Personaje>

@{
    ViewData["Title"] = "Index";
}

<h1>Index</h1>

<p>
    <a asp-action="Create">Create New</a>
</p>
<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.nombre)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.raza)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.expActual)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.expGastada)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.vidaMax)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.manaMax)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.energiaMax)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.nombre)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.raza.nombre)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.expActual)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.expGastada)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.vidaMax)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.manaMax)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.energiaMax)
            </td>
            <td>
                <a asp-action="Edit" asp-route-id="@item.id">Edit</a> |
                <a asp-action="Details" asp-route-id="@item.id">Details</a> |
                <a asp-action="Delete" asp-route-id="@item.id">Delete</a>
            </td>
        </tr>
}
    </tbody>
</table>
