@model PainKillerWeb.Models.Main.Personaje

@{
    ViewData["Title"] = "Jugar";
}

<div class="row">
    <div class="row col-6">
        <div class="col-4 d-flex justify-content-start align-content-center">
            <h2 class="fuenteMedieval800">
                @Html.DisplayFor(model => model.nombre)
            </h2>
        </div>
        <div class="col-5"> </div>
        <div class="col-3 d-flex justify-content-end ">
            <a asp-action="descansar" asp-route-id="@Model.id" class="btn btn-outline-success">Descansar</a>
        </div>

    </div>

    <div class="row col-6">
        <div class="col-4 d-flex justify-content-start align-content-center">
            <h3 class="fuenteMedieval800">Atributos</h3>
        </div>

    </div>
</div>
<hr />

<div class="row">
    <dl class="row col-6">
        <dt class="col-sm-4">
            @Html.DisplayNameFor(model => model.raza)
        </dt>
        <dd class="col-sm-8">
            @Html.DisplayFor(model => model.raza.nombre)
        </dd>
        <dt class="col-sm-4">
            @Html.DisplayNameFor(model => model.expActual)
        </dt>
        <dd class="col-sm-8">
            @Html.DisplayFor(model => model.expActual)
        </dd>
        <dt class="col-sm-4">
            @Html.DisplayNameFor(model => model.expGastada)
        </dt>
        <dd class="col-sm-8">
            @Html.DisplayFor(model => model.expGastada)
        </dd>

        <dt class="col-sm-4">
            <button type="button" class="btn btn-outline-danger btn-sm" style="width:70px" data-bs-toggle="modal" data-bs-target="#modalVida-@Model.id" >
                VIDA
            </button>
        </dt>
        <dd class="col-sm-4">
            @Html.DisplayFor(model => model.vidaAct) | @Html.DisplayFor(model => model.vidaMax)
        </dd>
        <dd class="col-sm-4">
            <div class="modal fade text-danger" id="modalVida-@Model.id" tabindex="-1" aria-labelledby="modalVida-@Model.id" aria-hidden="true">
                <div class="modal-dialog">
                    <div class="modal-content">
                        <div class="modal-header">
                            <h1 class="modal-title fs-5 fuenteMedieval800"> Modificar Vida Actual </h1>
                            <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                        </div>
                        <form asp-action="EditarVida" method="post">
                            <div class="modal-body">

                                <div>
                                    <input type="hidden" id="id" name="id" value="@Model.id" />
                                </div>
                                <div class="form-floating mb-3">
                                    <input type="number" id="num" name="num" class="form-control" placeholder=1 />
                                    <label for="num">@Html.DisplayNameFor(model => model.vidaAct)</label>
                                </div>
                            </div>
                            <div class="modal-footer">
                                <div class="form-group">
                                    <input type="submit" value="alterar" class="btn btn-danger" />
                                </div>
                            </div>
                        </form>

                    </div>
                </div>
            </div>
        </dd>


        <dt class="col-sm-4">
            <button type="button" class="btn btn-outline-primary btn-sm" style="width:70px" data-bs-toggle="modal" data-bs-target="#modalMana-@Model.id" >
                MANA
            </button>
        </dt>
        <dd class="col-sm-4">
            @Html.DisplayFor(model => model.manaAct) | @Html.DisplayFor(model => model.manaMax)
        </dd>
        <dd class="col-sm-4">
            <div class="modal fade text-primary" id="modalMana-@Model.id" tabindex="-1" aria-labelledby="modalMana-@Model.id" aria-hidden="true">
                <div class="modal-dialog">
                    <div class="modal-content">
                        <div class="modal-header">
                            <h1 class="modal-title fs-5 fuenteMedieval800"> Modificar Mana Actual </h1>
                            <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                        </div>
                        <form asp-action="EditarMana" method="post">
                            <div class="modal-body">

                                <div>
                                    <input type="hidden" id="id" name="id" value="@Model.id" />
                                </div>
                                <div class="form-floating mb-3">
                                    <input type="number" id="num" name="num" class="form-control" placeholder=1 />
                                    <label for="num">@Html.DisplayNameFor(model => model.manaAct)</label>
                                </div>
                            </div>
                            <div class="modal-footer">
                                <div class="form-group">
                                    <input type="submit" value="alterar" class="btn btn-primary" />
                                </div>
                            </div>
                        </form>

                    </div>
                </div>
            </div>
        </dd>

        <dt class="col-sm-4">
            <button type="button" class="btn btn-outline-success btn-sm " style="width:70px" data-bs-toggle="modal" data-bs-target="#modalEnerg-@Model.id" >
                ENERGIA
            </button>
        </dt>
        <dd class="col-sm-4">
            @Html.DisplayFor(model => model.energiaAct) | @Html.DisplayFor(model => model.energiaMax)
        </dd>
        <dd class="col-sm-4">
            <div class="modal fade text-success" id="modalEnerg-@Model.id" tabindex="-1" aria-labelledby="modalEnerg-@Model.id" aria-hidden="true">
                <div class="modal-dialog">
                    <div class="modal-content">
                        <div class="modal-header">
                            <h1 class="modal-title fs-5 fuenteMedieval800"> Modificar Energia Actual </h1>
                            <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                        </div>
                        <form asp-action="EditarEnergia" method="post">
                            <div class="modal-body">

                                <div>
                                    <input type="hidden" id="id" name="id" value="@Model.id" />
                                </div>
                                <div class="form-floating mb-3">
                                    <input type="number" id="num" name="num" class="form-control" placeholder=1 />
                                    <label for="num">@Html.DisplayNameFor(model => model.energiaAct)</label>
                                </div>
                            </div>
                            <div class="modal-footer">
                                <div class="form-group">
                                    <input type="submit" value="alterar" class="btn btn-success" />
                                </div>
                            </div>
                        </form>

                    </div>
                </div>
            </div>
        </dd>
    </dl>

    <dl class="row col-6">
        <dt class="col-sm-3 ">
            <p class="fuenteMedieval800 texto23px">Nombre</p>
        </dt>
        <dt class="col-sm-2 d-flex justify-content-center">
            <p class="fuenteMedieval800 texto23px">Nivel</p>
        </dt>
        <dt class="col-sm-4"></dt>
        <dt class="col-sm-3">
        </dt>
        @foreach (var item in Model.atributos)
        {
            if (item.atributoId == Model.raza.idAtributoRelevante || item.atributoId == Model.raza.idAtributoRelevante2)
            {
                <dt class="col-sm-3 text-success">
                    @item.atributo.nombre
                </dt>
            }
            else if (item.atributoId == Model.raza.idAtributoPesimo)
            {
                <dt class="col-sm-3 text-danger">
                    @item.atributo.nombre
                </dt>
            }
            else
            {
                <dt class="col-sm-3">
                    @item.atributo.nombre
                </dt>
            }

            <dd class="col-sm-2 d-flex justify-content-center">
                @item.nivel
            </dd>
            <dd class="col-sm-7"></dd>



        }
    </dl>

</div>

<br>

<div>
    <div class="row">
        <div class="col-4 d-flex justify-content-start align-bottom">
            <h3 class="fuenteMedieval800">Habilidades</h3>
        </div>
        <div class="col-8"> </div>

    </div>
    <hr />
    <dl class="row">
        <dt class="col-sm-2">
            <p class="fuenteMedieval800 texto23px">Nombre</p>
        </dt>
        <dt class="col-sm-1 d-flex justify-content-center">
            <p class="fuenteMedieval800 texto23px">Nivel</p>
        </dt>
        <dd class="col-sm-1">
        </dd>
        <dt class="col-sm-1 d-flex justify-content-center">
            <p class="fuenteMedieval800 texto23px">Atributo</p>
        </dt>
        <dd class="col-sm-1">
        </dd>
        <dd class="col-sm-1">
            <p class="fuenteMedieval800 texto23px">Tirada</p>
        </dd>
        <dd class="col-sm-2">
        </dd>
        <dd class="col-sm-3 btn-group mt-1 d-flex justify-content-end" role="group" aria-label="Button group with nested dropdown">

        </dd>
        @foreach (var item in Model.habilidades)
        {
            <dt class="col-sm-2">
                @Html.DisplayFor(modelItem => item.Habilidad.nombre)
            </dt>


            <dd class="col-sm-1 d-flex justify-content-center">
                @Html.DisplayFor(modelItem => item.Nivel)
            </dd>

            <dd class="col-sm-1">
            </dd>

            <dd class="col-sm-1 d-flex justify-content-center">
                @item.Habilidad.atributo.nombre
            </dd>

            <dd class="col-sm-1">
            </dd>
            <dd class="col-sm-1">
                (@item.Nivel+@item.Personaje.atributos.Where(x => x.atributoId == item.Habilidad.atributoId).FirstOrDefault().nivel) K @item.Personaje.atributos.Where(x => x.atributoId == item.Habilidad.atributoId).FirstOrDefault().nivel
            </dd>
            <dd class="col-sm-2">
            </dd>

            <dd class="col-sm-3 mt-1 d-flex justify-content-center">

                <button type="button" class="btn btn-outline-success" data-bs-toggle="modal" data-bs-target="#useHabilidad-@item.id" style="margin-right:12px;">
                    Usar Habilidad
                </button>

                <button type="button" class="btn btn-outline-dark" data-bs-toggle="modal" data-bs-target="#detalles-@item.id">
                    Detalles
                </button>

                <div class="modal fade" id="useHabilidad-@item.id" tabindex="-1" aria-labelledby="useHabilidad-@item.id" aria-hidden="true">
                    <div class="modal-dialog">
                        <div class="modal-content">
                            <div class="modal-header">
                                <h1 class="modal-title fs-5 fuenteMedieval800">  Usar La Habilidad "@item.Habilidad.nombre"</h1>
                                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                            </div>
                            <div class="modal-body">
                                <p>estas seguro de que deseas utilizar esta habilidad</p>
                                <p>tendra un costo de @item.Nivel puntos de mana </p>

                            </div>
                            <div class="modal-footer">
                                <form asp-controller="HabilidadesDePersonajes" asp-action="useHabilidad" asp-route-id="@item.id">
                                    @if (Model.manaAct >= @item.Nivel)
                                    {
                                        <input type="submit" value="Usar" class="btn btn-outline-success" />
                                    }
                                    else
                                    {
                                        <input type="submit" value="Usar" class="btn btn-outline-success" disabled />
                                    }
                                </form>
                            </div>
                        </div>
                    </div>
                </div>

                <div class="modal fade" id="detalles-@item.id" tabindex="-1" aria-labelledby="detalles-@item.id" aria-hidden="true">
                    <div class="modal-dialog">
                        <div class="modal-content">
                            <div class="modal-header">
                                <h1 class="modal-title fs-5 fuenteMedieval800"> Detalles De La Habilidad "@item.Habilidad.nombre"</h1>
                                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                            </div>
                            <div class="modal-body">
                                <h5>Descripcion: </h5>
                                <p>@Html.DisplayFor(modelItem => item.Habilidad.descripcion)</p>
                                <h5>tirada: </h5>
                                (@item.Nivel+@item.Personaje.atributos.Where(x => x.atributoId == item.Habilidad.atributoId).FirstOrDefault().nivel) K @item.Personaje.atributos.Where(x => x.atributoId == item.Habilidad.atributoId).FirstOrDefault().nivel

                            </div>

                        </div>
                    </div>
                </div>


            </dd>


        }
    </dl>

</div>
<div>
    <a asp-action="Index" class="btn btn-outline-danger mt-2 btn-sm">Regresar</a>
</div>