@model PainKillerWeb.Models.Main.Personaje

@{
    Layout = "~/Views/Shared/_Layout2.cshtml";
    ViewData["Title"] = "Jugar";
}

<div class="row">
    <div class="row col-6">
        <div class="col-4 d-flex justify-content-start align-content-center">
            <h2 class="goingMedievalG">
                @Html.DisplayFor(model => model.nombre)
            </h2>
        </div>
        <div class="col-5"> </div>
        <div class="col-3 d-flex justify-content-end ">
            <a asp-action="descansar" asp-route-id="@Model.id" class="btn btn-outline-success">Descansar</a>
        </div>

    </div>

    <div class="row col-6">
        <div class="col-4 d-flex justify-content-start align-content-center">
            <h3 class="goingMedievalG">Atributos</h3>
        </div>

    </div>
</div>
<hr />

<div class="row">
    <dl class="row col-6">
        <dt class="col-sm-4">
            @Html.DisplayNameFor(model => model.raza)
        </dt>
        <dd class="col-sm-8">
            @Html.DisplayFor(model => model.raza.nombre)
        </dd>
        <dt class="col-sm-4">
            @Html.DisplayNameFor(model => model.expActual)
        </dt>
        <dd class="col-sm-8">
            @Html.DisplayFor(model => model.expActual)
        </dd>
        <dt class="col-sm-4">
            @Html.DisplayNameFor(model => model.expGastada)
        </dt>
        <dd class="col-sm-8">
            @Html.DisplayFor(model => model.expGastada)
        </dd>

        <dt class="col-sm-4" style="color:red">
            VIDA
        </dt>
        <dd class="col-sm-4">
            @Html.DisplayFor(model => model.vidaAct) | @Html.DisplayFor(model => model.vidaMax)
        </dd>
        <dd class="col-sm-2">
            <button type="button" class="btn btn-outline-success" data-bs-toggle="modal" data-bs-target="#modalVida-@Model.id" style="margin-right:12px;">
                alterar
            </button>

            <div class="modal fade" id="modalVida-@Model.id" tabindex="-1" aria-labelledby="modalVida-@Model.id" aria-hidden="true">
                <div class="modal-dialog">
                    <div class="modal-content">
                        <div class="modal-header">
                            <h1 class="modal-title fs-5 goingMedievalG"> alterar vida </h1>
                        </div>
                        <div class="modal-body">
                            <form asp-action="EditEnJugar">
                                <div asp-validation-summary="ModelOnly" class="text-danger" onsubmit=false></div>

                                <div class="form-floating mb-3">
                                    <input type="hidden" asp-for="id" />
                                    <input type="hidden" asp-for="nombre"  />
                                    <input type="hidden" asp-for="razaId"  />
                                    <input type="hidden" asp-for="expActual"  />
                                    <input type="hidden" asp-for="expGastada"  />
                                    <input type="hidden" asp-for="vidaMax" />
                                    <input type="hidden" asp-for="energiaMax"  />
                                    <input type="hidden" asp-for="manaMax"  />
                                    <input type="hidden" asp-for="energiaAct" />
                                    <input type="hidden" asp-for="manaAct" />
                                </div>
                                <div class="form-floating mb-3">
                                    <input asp-for="vidaAct" class="form-control" placeholder=1 min="0" max="@Model.vidaMax" />
                                    <label asp-for="vidaAct"></label>
                                    <span asp-validation-for="vidaAct" class="text-danger"></span>
                                </div>

                                <div class="form-group">
                                    <input type="submit" value="alterar" class="btn btn-dark" />
                                </div>

                            </form>
                        </div>

                    </div>
                </div>
            </div>
        </dd>
        <dd class="col-sm-2">
        </dd>


        <dt class="col-sm-4" style="color:blue">
            MANA
        </dt>
        <dd class="col-sm-4">
            @Html.DisplayFor(model => model.manaAct) | @Html.DisplayFor(model => model.manaMax)
        </dd>
        <dd class="col-sm-2">
            <button type="button" class="btn btn-outline-success" data-bs-toggle="modal" data-bs-target="#modalMana-@Model.id" style="margin-right:12px;">
                alterar
            </button>

            <div class="modal fade" id="modalMana-@Model.id" tabindex="-1" aria-labelledby="modalMana-@Model.id" aria-hidden="true">
                <div class="modal-dialog">
                    <div class="modal-content">
                        <div class="modal-header">
                            <h1 class="modal-title fs-5 goingMedievalG"> alterar mana </h1>
                        </div>
                        <div class="modal-body">
                            <form asp-action="EditEnJugar">
                                <div asp-validation-summary="ModelOnly" class="text-danger" onsubmit=false></div>

                                <div class="form-floating mb-3">
                                    <input type="hidden" asp-for="id" />
                                    <input type="hidden" asp-for="nombre" value="@Model.nombre" />
                                    <input type="hidden" asp-for="razaId" value="@Model.razaId" />
                                    <input type="hidden" asp-for="expActual" value="@Model.expActual" />
                                    <input type="hidden" asp-for="expGastada" value="@Model.expGastada" />
                                    <input type="hidden" asp-for="vidaMax" value="@Model.vidaMax" />
                                    <input type="hidden" asp-for="energiaMax" value="@Model.energiaMax" />
                                    <input type="hidden" asp-for="manaMax" value="@Model.manaMax" />
                                    <input type="hidden" asp-for="energiaAct" value="@Model.energiaAct" />
                                    <input type="hidden" asp-for="vidaAct" value="@Model.vidaAct" />
                                </div>
                                <div class="form-floating mb-3">
                                    <input asp-for="manaAct" class="form-control" placeholder=1 min="0" max="@Model.manaMax"/>
                                    <label asp-for="manaAct"></label>
                                    <span asp-validation-for="manaAct" class="text-danger"></span>
                                </div>

                                <div class="form-group">
                                    <input type="submit" value="alterar" class="btn btn-dark" />
                                </div>

                            </form>
                        </div>

                    </div>
                </div>
            </div>
        </dd>
        <dd class="col-sm-2">
        </dd>

        <dt class="col-sm-4" style="color:green">
            ENERGIA
        </dt>
        <dd class="col-sm-4">
            @Html.DisplayFor(model => model.energiaAct) | @Html.DisplayFor(model => model.energiaMax)
        </dd>
        <dd class="col-sm-2">
            <button type="button" class="btn btn-outline-success" data-bs-toggle="modal" data-bs-target="#modalEnerg-@Model.id" style="margin-right:12px;">
                alterar
            </button>

            <div class="modal fade" id="modalEnerg-@Model.id" tabindex="-1" aria-labelledby="modalEnerg-@Model.id" aria-hidden="true">
                <div class="modal-dialog">
                    <div class="modal-content">
                        <div class="modal-header">
                            <h1 class="modal-title fs-5 goingMedievalG"> alterar energia </h1>
                        </div>
                        <div class="modal-body">
                            <form asp-action="EditEnJugar">
                                <div asp-validation-summary="ModelOnly" class="text-danger" onsubmit=false></div>

                                <div class="form-floating mb-3">
                                    <input type="hidden" asp-for="id" />
                                    <input type="hidden" asp-for="nombre" value="@Model.nombre" />
                                    <input type="hidden" asp-for="razaId" value="@Model.razaId" />
                                    <input type="hidden" asp-for="expActual" value="@Model.expActual" />
                                    <input type="hidden" asp-for="expGastada" value="@Model.expGastada" />
                                    <input type="hidden" asp-for="vidaMax" value="@Model.vidaMax" />
                                    <input type="hidden" asp-for="energiaMax" value="@Model.energiaMax" />
                                    <input type="hidden" asp-for="manaMax" value="@Model.manaMax" />
                                    <input type="hidden" asp-for="manaAct" value="@Model.manaAct" />
                                    <input type="hidden" asp-for="vidaAct" value="@Model.vidaAct" />
                                </div>
                                <div class="form-floating mb-3">
                                    <input asp-for="energiaAct" class="form-control" placeholder=1 min="0" max="@Model.energiaMax/>
                                    <label asp-for="energiaAct"></label>
                                    <span asp-validation-for="energiaAct" class="text-danger"></span>
                                </div>

                                <div class="form-group">
                                    <input type="submit" value="alterar" class="btn btn-dark" />
                                </div>

                            </form>
                        </div>

                    </div>
                </div>
            </div>
        </dd>

    </dl>

    <dl class="row col-6">
        <dt class="col-sm-3 ">
            <h5 class="goingMedievalG">Nombre</h5>
        </dt>
        <dt class="col-sm-2 d-flex justify-content-center">
            <h5 class="goingMedievalG">Nivel</h5>
        </dt>
        <dt class="col-sm-4"></dt>
        <dt class="col-sm-3">
        </dt>
        @foreach (var item in Model.atributos)
        {
            if (item.atributoId == Model.raza.idAtributoRelevante || item.atributoId == Model.raza.idAtributoRelevante2)
            {
                <dt class="col-sm-3 text-success">
                    @item.atributo.nombre
                </dt>
            }
            else if (item.atributoId == Model.raza.idAtributoPesimo)
            {
                <dt class="col-sm-3 text-danger">
                    @item.atributo.nombre
                </dt>
            }
            else
            {
                <dt class="col-sm-3">
                    @item.atributo.nombre
                </dt>
            }

            <dd class="col-sm-2 d-flex justify-content-center">
                @item.nivel
            </dd>
            <dd class="col-sm-7"></dd>



        }
    </dl>

</div>

<br>

<div>
    <div class="row">
        <div class="col-4 d-flex justify-content-start align-bottom">
            <h3 class="goingMedievalG">Habilidades</h3>
        </div>
        <div class="col-8"> </div>

    </div>
    <hr />
    <dl class="row">
        <dt class="col-sm-2">
            <h5 class="goingMedievalG">Nombre</h5>
        </dt>
        <dt class="col-sm-1 d-flex justify-content-center">
            <h5 class="goingMedievalG">Nivel</h5>
        </dt>
        <dd class="col-sm-1">
        </dd>
        <dt class="col-sm-1 d-flex justify-content-center">
            <h5 class="goingMedievalG">Atributo</h5>
        </dt>
        <dd class="col-sm-1">
        </dd>
        <dd class="col-sm-1">
            <h5 class="goingMedievalG">Tirada</h5>
        </dd>
        <dd class="col-sm-2">
        </dd>
        <dd class="col-sm-3 btn-group mt-1 d-flex justify-content-end" role="group" aria-label="Button group with nested dropdown">

        </dd>
        @foreach (var item in Model.habilidades)
        {
            <dt class="col-sm-2">
                @Html.DisplayFor(modelItem => item.Habilidad.nombre)
            </dt>


            <dd class="col-sm-1 d-flex justify-content-center">
                @Html.DisplayFor(modelItem => item.Nivel)
            </dd>

            <dd class="col-sm-1">
            </dd>

            <dd class="col-sm-1 d-flex justify-content-center">
                @item.Habilidad.atributo.nombre
            </dd>

            <dd class="col-sm-1">
            </dd>
            <dd class="col-sm-1">
                (@item.Nivel+@item.Personaje.atributos.Where(x => x.atributoId == item.Habilidad.atributoId).FirstOrDefault().nivel) K @item.Personaje.atributos.Where(x => x.atributoId == item.Habilidad.atributoId).FirstOrDefault().nivel
            </dd>
            <dd class="col-sm-2">
            </dd>

            <dd class="col-sm-3 mt-1 d-flex justify-content-center">

                <button type="button" class="btn btn-outline-success" data-bs-toggle="modal" data-bs-target="#useHabilidad-@item.id" style="margin-right:12px;">
                    Usar Habilidad
                </button>

                <button type="button" class="btn btn-outline-dark" data-bs-toggle="modal" data-bs-target="#detalles-@item.id">
                    Detalles
                </button>

                <div class="modal fade" id="useHabilidad-@item.id" tabindex="-1" aria-labelledby="useHabilidad-@item.id" aria-hidden="true">
                    <div class="modal-dialog">
                        <div class="modal-content">
                            <div class="modal-header">
                                <h1 class="modal-title fs-5 goingMedievalG">  Usar La Habilidad "@item.Habilidad.nombre"</h1>
                            </div>
                            <div class="modal-body">
                                <p>estas seguro de que deseas utilizar esta habilidad</p>
                                <p>tendra un costo de @item.Nivel puntos de mana </p>

                            </div>
                            <div class="modal-footer">
                                <form asp-controller="HabilidadesDePersonajes" asp-action="useHabilidad" asp-route-id="@item.id">
                                    @if (Model.manaAct >= @item.Nivel)
                                    {
                                        <input type="submit" value="Usar" class="btn btn-outline-success" />
                                    }
                                    else
                                    {
                                        <input type="submit" value="Usar" class="btn btn-outline-success" disabled />
                                    }
                                </form>
                            </div>
                        </div>
                    </div>
                </div>

                <div class="modal fade" id="detalles-@item.id" tabindex="-1" aria-labelledby="detalles-@item.id" aria-hidden="true">
                    <div class="modal-dialog">
                        <div class="modal-content">
                            <div class="modal-header">
                                <h1 class="modal-title fs-5 goingMedievalG"> Detalles De La Habilidad "@item.Habilidad.nombre"</h1>
                            </div>
                            <div class="modal-body">
                                <h5>Descripcion: </h5>
                                <p>@Html.DisplayFor(modelItem => item.Habilidad.descripcion)</p>
                                <h5>tirada: </h5>
                                (@item.Nivel+@item.Personaje.atributos.Where(x => x.atributoId == item.Habilidad.atributoId).FirstOrDefault().nivel) K @item.Personaje.atributos.Where(x => x.atributoId == item.Habilidad.atributoId).FirstOrDefault().nivel

                            </div>

                        </div>
                    </div>
                </div>


            </dd>


        }
    </dl>

</div>
<div>
    <a asp-action="Index" class="btn btn-outline-danger mt-2 btn-sm">Regresar</a>
</div>