@model IEnumerable<PainKillerWeb.Models.Main.Hechizo>

@{
    ViewData["Title"] = "Index";
}

<h1>Index</h1>

<p>
    <a asp-action="Create">Create New</a>
</p>
<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.nombre)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.duracion)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.costeExp)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.costeUso)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.tipoCoste)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.efecto)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.tiempo)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.distancia)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.elemento)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.nombre)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.duracion)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.costeExp)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.costeUso)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.tipoCoste)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.efecto)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.tiempo)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.distancia.nombre)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.elemento.nombre)
            </td>
            <td>
                <a asp-action="Edit" asp-route-id="@item.id">Edit</a> |
                <a asp-action="Details" asp-route-id="@item.id">Details</a> |
                <a asp-action="Delete" asp-route-id="@item.id">Delete</a>
            </td>
        </tr>
}
    </tbody>
</table>
